<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>object_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{64,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,160}}</string>
                <key>sourceSize</key>
                <string>{64,160}</string>
            </dict>
            <key>object_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,320}}</string>
                <key>sourceSize</key>
                <string>{224,320}</string>
            </dict>
            <key>object_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{224,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,96}}</string>
                <key>sourceSize</key>
                <string>{224,96}</string>
            </dict>
            <key>object_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{96,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,216}}</string>
                <key>sourceSize</key>
                <string>{96,216}</string>
            </dict>
            <key>object_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>object_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,520},{64,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,128}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>object.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9016e42f8e93ca2b4215e5fe6d0b56c:1/1$</string>
            <key>textureFileName</key>
            <string>object.png</string>
        </dict>
    </dict>
</plist>
