<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>body1.png</key>
		<dict>
			<key>width</key>
			<integer>24</integer>
			<key>height</key>
			<integer>26</integer>
			<key>originalWidth</key>
			<integer>24</integer>
			<key>originalHeight</key>
			<integer>26</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>body2.png</key>
		<dict>
			<key>width</key>
			<integer>49</integer>
			<key>height</key>
			<integer>35</integer>
			<key>originalWidth</key>
			<integer>49</integer>
			<key>originalHeight</key>
			<integer>35</integer>
			<key>x</key>
			<integer>26</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>hair1.png</key>
		<dict>
			<key>width</key>
			<integer>179</integer>
			<key>height</key>
			<integer>57</integer>
			<key>originalWidth</key>
			<integer>179</integer>
			<key>originalHeight</key>
			<integer>57</integer>
			<key>x</key>
			<integer>77</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>hair2.png</key>
		<dict>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>34</integer>
			<key>originalWidth</key>
			<integer>53</integer>
			<key>originalHeight</key>
			<integer>34</integer>
			<key>x</key>
			<integer>258</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>handl1.png</key>
		<dict>
			<key>width</key>
			<integer>11</integer>
			<key>height</key>
			<integer>18</integer>
			<key>originalWidth</key>
			<integer>11</integer>
			<key>originalHeight</key>
			<integer>18</integer>
			<key>x</key>
			<integer>313</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>handl2.png</key>
		<dict>
			<key>width</key>
			<integer>11</integer>
			<key>height</key>
			<integer>21</integer>
			<key>originalWidth</key>
			<integer>11</integer>
			<key>originalHeight</key>
			<integer>21</integer>
			<key>x</key>
			<integer>326</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>handr1.png</key>
		<dict>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>16</integer>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>16</integer>
			<key>x</key>
			<integer>339</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>handr2.png</key>
		<dict>
			<key>width</key>
			<integer>25</integer>
			<key>height</key>
			<integer>17</integer>
			<key>originalWidth</key>
			<integer>25</integer>
			<key>originalHeight</key>
			<integer>17</integer>
			<key>x</key>
			<integer>361</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>head.png</key>
		<dict>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>82</integer>
			<key>originalWidth</key>
			<integer>77</integer>
			<key>originalHeight</key>
			<integer>82</integer>
			<key>x</key>
			<integer>388</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>legl1.png</key>
		<dict>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>22</integer>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>22</integer>
			<key>x</key>
			<integer>467</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>legl2.png</key>
		<dict>
			<key>width</key>
			<integer>27</integer>
			<key>height</key>
			<integer>26</integer>
			<key>originalWidth</key>
			<integer>27</integer>
			<key>originalHeight</key>
			<integer>26</integer>
			<key>x</key>
			<integer>496</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>legr1.png</key>
		<dict>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>25</integer>
			<key>originalWidth</key>
			<integer>36</integer>
			<key>originalHeight</key>
			<integer>25</integer>
			<key>x</key>
			<integer>525</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>legr2.png</key>
		<dict>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>x</key>
			<integer>563</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>palml1.png</key>
		<dict>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>12</integer>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>originalHeight</key>
			<integer>12</integer>
			<key>x</key>
			<integer>585</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>palmr1.png</key>
		<dict>
			<key>width</key>
			<integer>11</integer>
			<key>height</key>
			<integer>9</integer>
			<key>originalWidth</key>
			<integer>11</integer>
			<key>originalHeight</key>
			<integer>9</integer>
			<key>x</key>
			<integer>599</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>shoulderl1.png</key>
		<dict>
			<key>width</key>
			<integer>10</integer>
			<key>height</key>
			<integer>9</integer>
			<key>originalWidth</key>
			<integer>10</integer>
			<key>originalHeight</key>
			<integer>9</integer>
			<key>x</key>
			<integer>612</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>shoulderr1.png</key>
		<dict>
			<key>width</key>
			<integer>11</integer>
			<key>height</key>
			<integer>11</integer>
			<key>originalWidth</key>
			<integer>11</integer>
			<key>originalHeight</key>
			<integer>11</integer>
			<key>x</key>
			<integer>624</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>weapon.png</key>
		<dict>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>44</integer>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>44</integer>
			<key>x</key>
			<integer>637</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>0</integer>
		<key>textureFileName</key>
		<string>ani_1001_bone.png</string>
		<key>realTextureFileName</key>
		<string>ani_1001_bone.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>
