<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sanlianzhan_00006.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sanlianzhan_00011.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>258</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sanlianzhan_00017.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sanlianzhan_00018.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>tiaozhan_00010.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>258</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>tiaozhan_00011.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>tiaozhan_00012.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>516</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>tiaozhan_00013.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>258</integer>
				<key>y</key>
				<integer>516</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>liedizhan_00018.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>516</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_a_sj.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_c_r_s.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>53</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>37</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_c_ls.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>92</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_c_rs.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>131</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_c_l_s.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>177</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nk.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>234</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_c_rjj.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>252</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_c_gb.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>293</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_c_tou_b.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>94</integer>
				<key>x</key>
				<integer>317</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_c_ljj.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>26</integer>
				<key>x</key>
				<integer>417</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_c_yd.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>443</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_c_st_a.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>501</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_a_rp.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>554</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_a_rt.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>73</integer>
				<key>x</key>
				<integer>584</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_c_lj.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>623</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_c_rtj.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>665</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_c_st_b.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>41</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>718</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_c_rt.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>761</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_a_ltj.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>823</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_c_lp.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>23</integer>
				<key>originalHeight</key>
				<integer>37</integer>
				<key>x</key>
				<integer>845</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>j_a_lt.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>82</integer>
				<key>x</key>
				<integer>870</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>jujian_a0.png</string>
			<key>realTextureFileName</key>
			<string>jujian_a0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>